<html lang="en">
  <%- include("./partials/head.ejs") %>

  <body>
    <%- include("./partials/nav.ejs") %>

    <div class="records">
      <h2>Patients List</h2>

      <%- include("./partials/patient-table.ejs") %>
    </div>
  </body>
</html>
